.Button {
	border-radius: 10px;
	font-weight: 700;
	font-size: 16px;
	line-height: 18px;
	padding: 16px 24px;
	cursor: pointer;
	width: 100%;
}

.orange {
	color: #090909;
	background: #FF9C08;
	border: inherit;
}

.dark {
	color: #FFFFFF;
	background: #090909;
	border: inherit;
}

.light {
	color: #090909;
	background: #FFFFFF;
	border: 1px solid #F0ECE8;
}