.About {
	margin-top: 50px;
	.container {
		width: 1268px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	header {
		font-size: 20px;
		line-height: 22px;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		color: #FF9C08;
		width: 100%;
		text-align: left;
	}
	.content {
		margin-top: 20px;
		display: flex;
		width: 100%;
		gap: 76px;
		justify-content: space-between;
	}
	.title {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 700;
		font-size: 42px;
		line-height: 58px;
		color: #090909;
	}
	.subtitle {
		margin-top: 17px;
		font-size: 18px;
		line-height: 30px;
		color: #6E6E6E;
	}
	.image {
		&__girl {
			margin-top: 56px;
			position: relative;
			width: 596px;
			height: 530px;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

		}
		&__teacher {
			margin-top: 32px;
			position: relative;
			width: 596px;
			height: 391px;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
		&__boys {
			margin-top: 48px;
			position: relative;
			width: 596px;
			height: 749px;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}
	ul {
		list-style: none;
		display: flex;
		justify-content: flex-end;
		li:not(:last-child) {
			margin-right: 28px;
		}
	}
	.right {
		&__text {
			margin-top: 50px;
			font-size: 18px;
			line-height: 30px;
			color: #6E6E6E;
		}
		&__list {
			display: flex;
			flex-direction: column;
			margin-top: 20px;
			li {
				position: relative;
				font-size: 18px;
				line-height: 20px;
				color: #090909;
				padding-left: 42px;
				&::before {
					content: '';
					position: absolute;
					left: -3px;
					width: 26px;
					height: 26px;
					background-image: url('../../assets/icons/about_list_item.svg');
				}
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
}